.btn {
  background-color: rgb(2, 2, 2);
  color: #fff;
  padding: 0.9em 1em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  color: rgb(224, 182, 66);
}
